Data Types in python

In [2]:
a = 10 # int
print(a, type(a))

a = 10.2 # float
print(a, type(a))

a = 'Hello' # str
print(a, type(a))

a = True # bool
print(a, type(a))

a = None # NoneType
print(a, type(a))

a = [1,2,3] # list
print(a, type(a))

a = (1,2,2,2,3) # tuple
print(a, type(a))

a = {1,2,3} # set
print(a, type(a))

a = {'a':1, 'b':2} # dict
print(a, type(a))

10 <class 'int'>
10.2 <class 'float'>
Hello <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
[1, 2, 3] <class 'list'>
(1, 2, 2, 2, 3) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1, 'b': 2} <class 'dict'>

In [4]:
print()
a = 5
b = 10
print(a, b)
print(a, b, a + b)
print(a, b, a+b, sep='\n') #Characte Escape Sequence

5 10
5 10 15
5
10
15

In [5]:
c = a + b
print(a, end=', ')
print(b)
print(c)

5, 10
15

In [6]:
print = 12903

In [7]:
del print

In [8]:
print(a)

5

In [9]:
print('Hello', 'my value is', a)

Hello my value is 5

In [14]:
name = 'Alex'
age = 17
city = 'London'
print(f'my name is {name}, i am {age} years old, i live in {city}')

my name is Alex, i am 17 years old, i live in London

In [15]:
x = 10
y = 3
z = x / y
print(f'{x}/{y} = {z:.2f}')
print(x,'/',y, '=', round(z,2))

10/3 = 3.33
10 / 3 = 3.33

In [19]:
n1='Sara'
n2='Elizabeth'
n3='Sam'
a1, a2, a3 = 22, 21, 24
print(f'{n1:10} {a1}')
print(f'{n2:10} {a2}')
print(f'{n3:10} {a3}')

Sara       22
Elizabeth  21
Sam        24

Input Functions

WAP to display details entered by a user, i.e, name , age , gender and height.

In [23]:
Name =(input('Enter your Name:'))
Age =eval(input('Enter Age:'))
Gender =(input('Enter Gender:'))
Height =eval(input('Enter Height:'))
print('User Details are as follows:')
print('Name:', Name)
print('Age:',Age)
print('Gender:',Gender)
print('Height',Height)

User Details are as follows:
Name: ankita
Age: 24
Gender: female
Height 5

Type Casting
 - Emplicit Conversion
 - Implicit Conversion

In [26]:
#Emplicit Conversion (is me hum khud krte h )
a=5
b=10
print(int(a)+int(b))

#Implicit Conversion(is me python khud krta h)
a=8.7
b=9
print(a+b)

15
17.7