normal code

In [3]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[]
for i in a:
    a2.append(i**2)
print(a)
print(a2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
a3=[i**3 for i in a] #newlist=[operation loops conditions like +,-,* etc]
print(a3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

create a list of five names, then use comprehension to create another list that will contain only first letter from each name

In [8]:
name=['anki','akku','pooja','golu','sweta']
name2=[i[0] for i in name]
print(name2)

['a', 'a', 'p', 'g', 's']

commom code

In [10]:
b=[1,2,5,3,2,1,16,8,21,56,23,6]
b2=[]
for i in b:
    if i % 2 ==0:
        b2.append(i/2)
print(b)
print(b2)

[1, 2, 5, 3, 2, 1, 16, 8, 21, 56, 23, 6]
[1.0, 1.0, 8.0, 4.0, 28.0, 3.0]

In [11]:
b3=[i/2 for i in b if i % 2 ==0]
print(b3)

[1.0, 1.0, 8.0, 4.0, 28.0, 3.0]

* wap to create a list of 10 numbers, then use comprehension to create another list of only odd number
* wap to create a list of 10 number , then comprehension to create another list of only even number
* wap to create a list a=['2','3','5','10'] then use comprehension to create another list of only int number
* wap to add elements of 2 list in a 3rd list using comprehension , assuming both list are equal in length

In [3]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[ i for i in a if i %2!=0]
print(a2)

[1, 3, 5, 7, 9]

In [12]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[i for i in a if i%2==0]
print(a2)

[2, 4, 6, 8, 10]

In [13]:
a=['2','3','5','10']
a2=[int(i) for i in a]
print(a2)

[2, 3, 5, 10]

In [14]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[11,22,33,44,55,66,77,88,99,100]
a3=[a[i]+a2[i] for i in range (len (a))]
print(a3)

[12, 24, 36, 48, 60, 72, 84, 96, 108, 110]

Enumerate 
Zip

In [5]:
color=['red','green','blue','black','yellow']
for i, j in enumerate (color):
    print(i,j)

0 red
1 green
2 blue
3 black
4 yellow

In [6]:
for index, value in enumerate(color):
    if index % 2==0:
        print(f"ðŸ’¥{value}")
    else:
        print(f"âœ– {value}")

ðŸ’¥red
âœ– green
ðŸ’¥blue
âœ– black
ðŸ’¥yellow

zip(when you want to pass multipal value)

In [10]:
name=['Alex','Mary','Sam','Alice']
hindi=[56,78,90,45]
english=[67,89,90,78]
for n, i ,  in zip(name,hindi):
    print(f'{n} got {i}  in hindi')

Alex got 56  in hindi
Mary got 78  in hindi
Sam got 90  in hindi
Alice got 45  in hindi

In [11]:
for n, h, e in zip (name, hindi,english ):
    print(f'{n:<10} hindi ={h}, english ={e}|total ={h+e}')

Alex       hindi =56, english =67|total =123
Mary       hindi =78, english =89|total =167
Sam        hindi =90, english =90|total =180
Alice      hindi =45, english =78|total =123