Dictionary{ } is me complex data ko rkha jata h 
digi={'key':'value'}

In [1]:
book = {
    'title': 'The Final Empire',
    'author': 'Brandon Sanderson',
    'price' : 1499,
    'publisher': 'Tor Books',
    'year' : 2006,
    'pages' : 541,
    'languages': ['english','french','spanish']   
}

In [3]:
book['rating']= 4.9
book['type'] = 'paperback'
print(book)

{'title': 'The Final Empire', 'author': 'Brandon Sanderson', 'price': 1499, 'publisher': 'Tor Books', 'year': 2006, 'pages': 541, 'languages': ['english', 'french', 'spanish'], 'rating': 4.9, 'type': 'paperback'}

In [2]:
book['pages']

541

In [4]:
book.pop('pages')

541

In [5]:
book

{'title': 'The Final Empire',
 'author': 'Brandon Sanderson',
 'price': 1499,
 'publisher': 'Tor Books',
 'year': 2006,
 'languages': ['english', 'french', 'spanish'],
 'rating': 4.9,
 'type': 'paperback'}

In [6]:
list(book.keys())

['title',
 'author',
 'price',
 'publisher',
 'year',
 'languages',
 'rating',
 'type']

In [7]:
list(book.values())

['The Final Empire',
 'Brandon Sanderson',
 1499,
 'Tor Books',
 2006,
 ['english', 'french', 'spanish'],
 4.9,
 'paperback']

In [8]:
list(book.items()) # key value pair as tuple

[('title', 'The Final Empire'),
 ('author', 'Brandon Sanderson'),
 ('price', 1499),
 ('publisher', 'Tor Books'),
 ('year', 2006),
 ('languages', ['english', 'french', 'spanish']),
 ('rating', 4.9),
 ('type', 'paperback')]

In [9]:
book.get('publisher')

'Tor Books'

In [10]:
book.get('publisher', 'not found')

'Tor Books'

In [11]:
book.get('Publisher', 'not found')

'not found'

In [13]:
myrating = {}
for i in range(1,4):
    name = input(f'enter the name of movie {i}:')
    rating = float(input(f'enter the rating of movie {i}:'))
    myrating[name] = rating

print(myrating)

{'om santi om': 4.0, 'hum sath sath h ': 5.0, '5': 7.0}

In [14]:
for i in myrating:
    print(i) # only keys

print('---'* 10)
for i in myrating:
    print(i, myrating[i]) # only values

print('---'* 10)
for k,v in myrating.items():
    print(k,v) # both keys and values

om santi om
hum sath sath h
5
------------------------------
om santi om 4.0
hum sath sath h  5.0
5 7.0
------------------------------
om santi om 4.0
hum sath sath h  5.0
5 7.0

In [15]:
book.clear()
print(book)

{}

In [17]:
books = {
    'book1': {
        'title': 'The Final Empire',
        'author': 'Brandon Sanderson',
        'price' : 1499,
    },
    'book2': {
        'title': 'The Well of Ascension',
        'author': 'Brandon Sanderson',
        'price' : 1699,
        'publisher': 'Tor Books',
    },
    'book3': {
        'title': 'The Hero of Ages',
        'author': 'Brandon Sanderson',
        'price' : 1799,
    } 
}

In [18]:
for name, detail in books.items():
    print(name)
    for k, v in detail.items():
        print(f"\t{k} = {v}")

book1
	title = The Final Empire
	author = Brandon Sanderson
	price = 1499
book2
	title = The Well of Ascension
	author = Brandon Sanderson
	price = 1699
	publisher = Tor Books
book3
	title = The Hero of Ages
	author = Brandon Sanderson
	price = 1799

In [19]:
query = "The Well"
for name, detail in books.items():
    if query in detail['title']:
        print(name, detail)

book2 {'title': 'The Well of Ascension', 'author': 'Brandon Sanderson', 'price': 1699, 'publisher': 'Tor Books'}

In [61]:
students = {
    'Maulik' : {
        'college':'MU',
        'type':'offline'
    },
    'Aman' : 'NPGC',
    'Abhay': 'NPGC',
    'Mazahir': 'AU',
    'Imadul': 'IU',
    'Prashutosh': 'SHUATS',
    'Shoeb': {
        'college': 'IET',
        'type':'online'
    },
    'Mandavi': {
         'college':'HNBGU',
        'type':'online'
    }
}

In [62]:
from pprint import pp

In [63]:
pp(students)

{'Maulik': {'college': 'MU', 'type': 'offline'},
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'}}

In [3]:
report = {
    'class10': {
        'rohan': {
            'english': 90,
            'maths': 95,
            'hindi': 85,
            'science': 95,
            'social': 95,
            'p.e.': 95,
        },
        'mohit': {
            'english': 50,
            'maths': 55,
            'hindi': 45,
            'science': 55,
            'social': 55,
            'p.e.': 95,
        },
        'shreya': {
            'english': 72,
            'maths': 75,
            'hindi': 65,
            'science': 75,
            'social': 75,
            'p.e.': 75,
        },
        'shubham': {
            'english': 82,
            'maths': 85,
            'hindi': 75,
            'science': 85,
            'social': 85,
            'p.e.': 85,
        },
        'shruti': {
            'english': 92,
            'maths': 55,
            'hindi': 85,
            'science': 65,
            'social': 95,
            'p.e.': 95,
        },   
        'alex':{
            'english': 92,
            'maths': 55,
            'hindi': 82,
            'science': 61,
            'social': 95,
             'p.e.': 95,
        },     
    }
}

In [4]:
from pprint import pp

In [5]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 95,
                       'hindi': 85,
                       'science': 95,
                       'social': 95,
                       'p.e.': 95},
             'mohit': {'english': 50,
                       'maths': 55,
                       'hindi': 45,
                       'science': 55,
                       'social': 55,
                       'p.e.': 95},
             'shreya': {'english': 72,
                        'maths': 75,
                        'hindi': 65,
                        'science': 75,
                        'social': 75,
                        'p.e.': 75},
             'shubham': {'english': 82,
                         'maths': 85,
                         'hindi': 75,
                         'science': 85,
                         'social': 85,
                         'p.e.': 85},
             'shruti': {'english': 92,
                        'maths': 55,
                        'hindi': 85,
                        'science': 65,
                        'social': 95,
                        'p.e.': 95},
             'alex': {'english': 92,
                      'maths': 55,
                      'hindi': 82,
                      'science': 61,
                      'social': 95,
                      'p.e.': 95}}}

In [6]:
report.values()

dict_values([{'rohan': {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, 'mohit': {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e.': 95}, 'shreya': {'english': 72, 'maths': 75, 'hindi': 65, 'science': 75, 'social': 75, 'p.e.': 75}, 'shubham': {'english': 82, 'maths': 85, 'hindi': 75, 'science': 85, 'social': 85, 'p.e.': 85}, 'shruti': {'english': 92, 'maths': 55, 'hindi': 85, 'science': 65, 'social': 95, 'p.e.': 95}, 'alex': {'english': 92, 'maths': 55, 'hindi': 82, 'science': 61, 'social': 95, 'p.e.': 95}}])

In [7]:
print(report['class10'].values())

dict_values([{'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e.': 95}, {'english': 72, 'maths': 75, 'hindi': 65, 'science': 75, 'social': 75, 'p.e.': 75}, {'english': 82, 'maths': 85, 'hindi': 75, 'science': 85, 'social': 85, 'p.e.': 85}, {'english': 92, 'maths': 55, 'hindi': 85, 'science': 65, 'social': 95, 'p.e.': 95}, {'english': 92, 'maths': 55, 'hindi': 82, 'science': 61, 'social': 95, 'p.e.': 95}])

In [8]:
movies = {
    '3 idiots' : 'a story about 3 idiot frds',
    'lunchbox' : 'a story about a lunchbox',
    'dangal' : 'a story about a wrestler',
    'pk' : 'a story about an alien',
    'taara zameen par' :'a story about a dyslexic child',
}

In [9]:
movies.items() # is use dic ke sath loop me karte h

dict_items([('3 idiots', 'a story about 3 idiot frds'), ('lunchbox', 'a story about a lunchbox'), ('dangal', 'a story about a wrestler'), ('pk', 'a story about an alien'), ('taara zameen par', 'a story about a dyslexic child')])

In [10]:
for k, v in movies.items():
    print(f'{k:20}{v}')

3 idiots            a story about 3 idiot frds
lunchbox            a story about a lunchbox
dangal              a story about a wrestler
pk                  a story about an alien
taara zameen par    a story about a dyslexic child

In [11]:
isinstance(report['class10'],dict) #verify if the object is a data type

True

In [12]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                for subject, marks in subjects.items():
                    print(' ->', subject,'=', marks)

class10
-> rohan
 -> english = 90
 -> maths = 95
 -> hindi = 85
 -> science = 95
 -> social = 95
 -> p.e. = 95
-> mohit
 -> english = 50
 -> maths = 55
 -> hindi = 45
 -> science = 55
 -> social = 55
 -> p.e. = 95
-> shreya
 -> english = 72
 -> maths = 75
 -> hindi = 65
 -> science = 75
 -> social = 75
 -> p.e. = 75
-> shubham
 -> english = 82
 -> maths = 85
 -> hindi = 75
 -> science = 85
 -> social = 85
 -> p.e. = 85
-> shruti
 -> english = 92
 -> maths = 55
 -> hindi = 85
 -> science = 65
 -> social = 95
 -> p.e. = 95
-> alex
 -> english = 92
 -> maths = 55
 -> hindi = 82
 -> science = 61
 -> social = 95
 -> p.e. = 95

In [74]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                total = 0 # reset total for each student
                for subject, marks in subjects.items():
                    total += marks
                    print('total->',total)

class10
-> rohan
total-> 90
total-> 185
total-> 270
total-> 365
total-> 460
total-> 555
-> mohit
total-> 50
total-> 105
total-> 150
total-> 205
total-> 260
total-> 355
-> shreya
total-> 72
total-> 147
total-> 212
total-> 287
total-> 362
total-> 437
-> shubham
total-> 82
total-> 167
total-> 242
total-> 327
total-> 412
total-> 497
-> shruti
total-> 92
total-> 147
total-> 232
total-> 297
total-> 392
total-> 487
-> alex
total-> 92
total-> 147
total-> 229
total-> 290
total-> 385
total-> 480

In [75]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                total = 0 # reset total for each student
                for subject, marks in subjects.items():
                    total += marks
                    print('avg->',total//6)

class10
-> rohan
avg-> 15
avg-> 30
avg-> 45
avg-> 60
avg-> 76
avg-> 92
-> mohit
avg-> 8
avg-> 17
avg-> 25
avg-> 34
avg-> 43
avg-> 59
-> shreya
avg-> 12
avg-> 24
avg-> 35
avg-> 47
avg-> 60
avg-> 72
-> shubham
avg-> 13
avg-> 27
avg-> 40
avg-> 54
avg-> 68
avg-> 82
-> shruti
avg-> 15
avg-> 24
avg-> 38
avg-> 49
avg-> 65
avg-> 81
-> alex
avg-> 15
avg-> 24
avg-> 38
avg-> 48
avg-> 64
avg-> 80

In [52]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                total = sum (subjects.values())
                print('avg->', total//6)

class10
-> rohan
avg-> 92
-> mohit
avg-> 59
-> shreya
avg-> 72
-> shubham
avg-> 82
-> shruti
avg-> 81
-> alex
avg-> 80

In [59]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                mm = None
                sub = None
            for subject, marks in subjects. items():
                if mm is None or mm < marks:
                    mm = marks
                    sub = subject    
            print(' max->',sub,mm)

class10
-> rohan
 max-> maths 95
-> mohit
 max-> p.e. 95
-> shreya
 max-> maths 75
-> shubham
 max-> maths 85
-> shruti
 max-> social 95
-> alex
 max-> social 95

wap to create a dictionary that store numbers and their squares

In [1]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

wap to ask user to enter item and its price and then store it in a dictionay, the program should stop when the user wants hint - while loop

In [22]:
items = {}
while True:
    item = input('enter name:')
    if not item: break
    price = int(input('enter price:'))
    items[item] = price
print(items)

{'book': 7, 'apple': 9}