Dictionary{ } is me complex data ko rkha jata h 
digi={'key':'value'}

In [61]:
students = {
    'Maulik' : {
        'college':'MU',
        'type':'offline'
    },
    'Aman' : 'NPGC',
    'Abhay': 'NPGC',
    'Mazahir': 'AU',
    'Imadul': 'IU',
    'Prashutosh': 'SHUATS',
    'Shoeb': {
        'college': 'IET',
        'type':'online'
    },
    'Mandavi': {
         'college':'HNBGU',
        'type':'online'
    }
}

In [62]:
from pprint import pp

In [63]:
pp(students)

{'Maulik': {'college': 'MU', 'type': 'offline'},
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'}}

In [64]:
report = {
    'class10': {
        'rohan': {
            'english': 90,
            'maths': 95,
            'hindi': 85,
            'science': 95,
            'social': 95,
            'p.e.': 95,
        },
        'mohit': {
            'english': 50,
            'maths': 55,
            'hindi': 45,
            'science': 55,
            'social': 55,
            'p.e.': 95,
        },
        'shreya': {
            'english': 72,
            'maths': 75,
            'hindi': 65,
            'science': 75,
            'social': 75,
            'p.e.': 75,
        },
        'shubham': {
            'english': 82,
            'maths': 85,
            'hindi': 75,
            'science': 85,
            'social': 85,
            'p.e.': 85,
        },
        'shruti': {
            'english': 92,
            'maths': 55,
            'hindi': 85,
            'science': 65,
            'social': 95,
            'p.e.': 95,
        },   
        'alex':{
            'english': 92,
            'maths': 55,
            'hindi': 82,
            'science': 61,
            'social': 95,
             'p.e.': 95,
        },     
    }
}

In [65]:
from pprint import pp

In [66]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 95,
                       'hindi': 85,
                       'science': 95,
                       'social': 95,
                       'p.e.': 95},
             'mohit': {'english': 50,
                       'maths': 55,
                       'hindi': 45,
                       'science': 55,
                       'social': 55,
                       'p.e.': 95},
             'shreya': {'english': 72,
                        'maths': 75,
                        'hindi': 65,
                        'science': 75,
                        'social': 75,
                        'p.e.': 75},
             'shubham': {'english': 82,
                         'maths': 85,
                         'hindi': 75,
                         'science': 85,
                         'social': 85,
                         'p.e.': 85},
             'shruti': {'english': 92,
                        'maths': 55,
                        'hindi': 85,
                        'science': 65,
                        'social': 95,
                        'p.e.': 95},
             'alex': {'english': 92,
                      'maths': 55,
                      'hindi': 82,
                      'science': 61,
                      'social': 95,
                      'p.e.': 95}}}

In [67]:
report.values()

dict_values([{'rohan': {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, 'mohit': {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e.': 95}, 'shreya': {'english': 72, 'maths': 75, 'hindi': 65, 'science': 75, 'social': 75, 'p.e.': 75}, 'shubham': {'english': 82, 'maths': 85, 'hindi': 75, 'science': 85, 'social': 85, 'p.e.': 85}, 'shruti': {'english': 92, 'maths': 55, 'hindi': 85, 'science': 65, 'social': 95, 'p.e.': 95}, 'alex': {'english': 92, 'maths': 55, 'hindi': 82, 'science': 61, 'social': 95, 'p.e.': 95}}])

In [68]:
print(report['class10'].values())

dict_values([{'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e.': 95}, {'english': 72, 'maths': 75, 'hindi': 65, 'science': 75, 'social': 75, 'p.e.': 75}, {'english': 82, 'maths': 85, 'hindi': 75, 'science': 85, 'social': 85, 'p.e.': 85}, {'english': 92, 'maths': 55, 'hindi': 85, 'science': 65, 'social': 95, 'p.e.': 95}, {'english': 92, 'maths': 55, 'hindi': 82, 'science': 61, 'social': 95, 'p.e.': 95}])

In [69]:
movies = {
    '3 idiots' : 'a story about 3 idiot frds',
    'lunchbox' : 'a story about a lunchbox',
    'dangal' : 'a story about a wrestler',
    'pk' : 'a story about an alien',
    'taara zameen par' :'a story about a dyslexic child',
}

In [70]:
movies.items() # is use dic ke sath loop me karte h

dict_items([('3 idiots', 'a story about 3 idiot frds'), ('lunchbox', 'a story about a lunchbox'), ('dangal', 'a story about a wrestler'), ('pk', 'a story about an alien'), ('taara zameen par', 'a story about a dyslexic child')])

In [71]:
for k, v in movies.items():
    print(f'{k:20}{v}')

3 idiots            a story about 3 idiot frds
lunchbox            a story about a lunchbox
dangal              a story about a wrestler
pk                  a story about an alien
taara zameen par    a story about a dyslexic child

In [72]:
isinstance(report['class10'],dict) #verify if the object is a data type

True

In [73]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                for subject, marks in subjects.items():
                    print(' ->', subject,'=', marks)

class10
-> rohan
 -> english = 90
 -> maths = 95
 -> hindi = 85
 -> science = 95
 -> social = 95
 -> p.e. = 95
-> mohit
 -> english = 50
 -> maths = 55
 -> hindi = 45
 -> science = 55
 -> social = 55
 -> p.e. = 95
-> shreya
 -> english = 72
 -> maths = 75
 -> hindi = 65
 -> science = 75
 -> social = 75
 -> p.e. = 75
-> shubham
 -> english = 82
 -> maths = 85
 -> hindi = 75
 -> science = 85
 -> social = 85
 -> p.e. = 85
-> shruti
 -> english = 92
 -> maths = 55
 -> hindi = 85
 -> science = 65
 -> social = 95
 -> p.e. = 95
-> alex
 -> english = 92
 -> maths = 55
 -> hindi = 82
 -> science = 61
 -> social = 95
 -> p.e. = 95

In [74]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                total = 0 # reset total for each student
                for subject, marks in subjects.items():
                    total += marks
                    print('total->',total)

class10
-> rohan
total-> 90
total-> 185
total-> 270
total-> 365
total-> 460
total-> 555
-> mohit
total-> 50
total-> 105
total-> 150
total-> 205
total-> 260
total-> 355
-> shreya
total-> 72
total-> 147
total-> 212
total-> 287
total-> 362
total-> 437
-> shubham
total-> 82
total-> 167
total-> 242
total-> 327
total-> 412
total-> 497
-> shruti
total-> 92
total-> 147
total-> 232
total-> 297
total-> 392
total-> 487
-> alex
total-> 92
total-> 147
total-> 229
total-> 290
total-> 385
total-> 480

In [75]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                total = 0 # reset total for each student
                for subject, marks in subjects.items():
                    total += marks
                    print('avg->',total//6)

class10
-> rohan
avg-> 15
avg-> 30
avg-> 45
avg-> 60
avg-> 76
avg-> 92
-> mohit
avg-> 8
avg-> 17
avg-> 25
avg-> 34
avg-> 43
avg-> 59
-> shreya
avg-> 12
avg-> 24
avg-> 35
avg-> 47
avg-> 60
avg-> 72
-> shubham
avg-> 13
avg-> 27
avg-> 40
avg-> 54
avg-> 68
avg-> 82
-> shruti
avg-> 15
avg-> 24
avg-> 38
avg-> 49
avg-> 65
avg-> 81
-> alex
avg-> 15
avg-> 24
avg-> 38
avg-> 48
avg-> 64
avg-> 80

In [52]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                total = sum (subjects.values())
                print('avg->', total//6)

class10
-> rohan
avg-> 92
-> mohit
avg-> 59
-> shreya
avg-> 72
-> shubham
avg-> 82
-> shruti
avg-> 81
-> alex
avg-> 80

In [59]:
for cls, students in report.items():
    print(cls)
    if isinstance (students, dict):
        for name,subjects in students.items():
            print('->', name)
            if isinstance(subjects, dict):
                mm = None
                sub = None
            for subject, marks in subjects. items():
                if mm is None or mm < marks:
                    mm = marks
                    sub = subject    
            print(' max->',sub,mm)

class10
-> rohan
 max-> maths 95
-> mohit
 max-> p.e. 95
-> shreya
 max-> maths 75
-> shubham
 max-> maths 85
-> shruti
 max-> social 95
-> alex
 max-> social 95